%footer.footer
	%small
		Translator by
		=link_to "Denis Zaplatnikov", welcome_about_path(1)
	%small
	%nav
		%ul
			%li=link_to "Помощь", welcome_help_path(1)
			%li=link_to "О создателе", welcome_about_path(1)